/bin
/lib
.build
.*.swp
.project
.cproject
Makefile
Makefile.in
m4/
autom4te.cache/
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac.orig
depcomp
install-sh
stamp-h1
libtool
missing
ltmain.sh
.deps
.libs
*.lo
*.la
